@layout('layouts/main')

@section('title')
Freshwear | Top Shoes
@endsection
@section('content')
<section class="content-area home-page">
  <div class="top-section">
    <div class="product">
    <div class="circle">
      <img src="/img/products/adidas-ultraboost-gray.png">

    </div>
    </div>
    <div class="titles">
      <h3>Yeezy</h3>
      <h1>Ultra Boost</h1>
    </div>
  </div>
</section>
@endsection

@section('javascript')
<script></script>

@endsection

  